[Unit]
Description=appx node service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{{appx.init.service_usr_appx}}}
Group={{{appx.init.service_grp_appx}}}
ExecStart={{{appx.init.location_appx}}}/service/app.sh

[Install]
WantedBy=multi-user.target
