{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ],
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "rules": {
    "arrow-body-style": "off",
    "comma-dangle": "off",
    "import/no-unresolved": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "spaced-comment": "off",
    "import/order": "off",
    "no-multiple-empty-lines": "off",
    "no-var": "off",
    "camelcase": "off",
    "object-shorthand": "off",
    "function-paren-newline": "off",
    "semi": "off",
    "prefer-const": "off",
    "quotes": "off",
    "quote-props": "off",
    "no-underscore-dangle": "off",
    "arrow-parens": "off",
    "padded-blocks": "off",
    "no-multi-spaces": "off",
    "block-spacing": "off",
    "object-curly-spacing": "off",
    "space-before-function-paren": "off",
    "space-infix-ops": "off",
    "key-spacing": "off",
    "func-names": "off",
    "no-useless-rename": "off",
    "object-curly-newline": "off",
    "indent": "off",
    "no-unused-vars": "warn",
    "no-useless-computed-key": "warn",
    "no-shadow": "warn",
    "jsx-quotes": "warn",
    "react/jsx-indent": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-tag-spacing": "off",
    "react/self-closing-comp": "off",
    "react/jsx-one-expression-per-line": "off",

  }
}
